<section class="test-clas2 container">
    <div class="section">
        <h3 class="catalog-title">Catalog</h3>
        <ul class="catalog-list">
            <li class="catalog-item">
                <a class="catalog-link link" href="">
                    <div class="catalog-cover-wrap">
                        <div class="img-watch">
                        <img
                        src="../img/catalog/watch-s42.jpg"
                        srcset="../img/catalog/watch-s42.jpg 1x,../img/catalog/watch-s42-2x.jpg 2x"
                        alt="Tube Watch S42 Date Steel With Black Case">
                        </div>
                        <div class="catalog-wrap">
                            <p class="wrap-tile">Description</p>
                            <p class="wrap-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                            <p class="wrap-tile">DETAILS & FEATUREStion</p>
                            <p class="wrap-text-two">
                                Gender: man <br>
                                Size: 46x54.5mm <br>
                                Case Colour: Steel <br>
                                Band Material: Metal
                                Case Material: Metal
                                Features: Multifunction
                                Water Resistant: 5 (ATM)
                                Band Colour: Steel</p>
                        </div>
                    </div>
                    <h3 class="catalog-item-title">Tube Watch S42 Date Steel With Black...</h3>
                    <p class="catalog-item-text">€395</p>
                </a>
            </li>
            <li class="catalog-item">
                <a class="catalog-link link" href="">
                    <div class="catalog-cover-wrap">
                        <div class="img-watch">
                        <img 
                        src="../img/catalog/watch-avondale.jpg"
                        srcset="../img/catalog/watch-avondale.jpg 1x,../img/catalog/watch-avondale-2x.jpg 2x"
                        alt="Avondale Watch Police For Men">
                        </div>
                        <div class="catalog-wrap">
                            <p class="wrap-tile">Description</p>
                            <p class="wrap-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                            <p class="wrap-tile">DETAILS & FEATUREStion</p>
                            <p class="wrap-text-two">
                                Gender: man <br>
                                Size: 46x54.5mm <br>
                                Case Colour: Steel <br>
                                Band Material: Metal
                                Case Material: Metal
                                Features: Multifunction
                                Water Resistant: 5 (ATM)
                                Band Colour: Steel</p>
                        </div>
                    </div>
                    <h3 class="catalog-item-title">Avondale Watch Police For Men</h3>
                    <p class="catalog-item-text">€800</p>
                </a>
            </li>
            <li class="catalog-item">
                <a class="catalog-link link" href="">
                    <div class="catalog-cover-wrap">
                        <div class="img-watch">
                        <img
                        src="../img/catalog/watch-diver.jpg"
                        srcset="../img/catalog/watch-diver.jpg 1x,../img/catalog/watch-diver-2x.jpg 2x"
                        alt="Diver  300M Co‑Axial Master Chronometer Chronograph">
                        </div>
                        <div class="catalog-wrap">
                            <p class="wrap-tile">Description</p>
                            <p class="wrap-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                            <p class="wrap-tile">DETAILS & FEATUREStion</p>
                            <p class="wrap-text-two">
                                Gender: man <br>
                                Size: 46x54.5mm <br>
                                Case Colour: Steel <br>
                                Band Material: Metal
                                Case Material: Metal
                                Features: Multifunction
                                Water Resistant: 5 (ATM)
                                Band Colour: Steel</p>
                        </div>
                    </div>
                    <h3 class="catalog-item-title">Diver  300M Co‑Axial Master Chronomete...</h3>
                    <p class="catalog-item-text">€600</p>
                </a>
            </li>
            <li class="catalog-item">
                <a class="catalog-link link" href="">
                    <div class="catalog-cover-wrap">
                        <div class="img-watch">
                        <img 
                        src="../img/catalog/watch-diver2.jpg"
                        srcset="../img/catalog/watch-diver2.jpg 1x,../img/catalog/watch-diver2-2x.jpg 2x"
                        alt="Diver 300M Co-Axial Master Chronometer">
                        </div>
                        <div class="catalog-wrap">
                            <p class="wrap-tile">Description</p>
                            <p class="wrap-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                            <p class="wrap-tile">DETAILS & FEATUREStion</p>
                            <p class="wrap-text-two">
                                Gender: man <br>
                                Size: 46x54.5mm <br>
                                Case Colour: Steel <br>
                                Band Material: Metal
                                Case Material: Metal
                                Features: Multifunction
                                Water Resistant: 5 (ATM)
                                Band Colour: Steel</p>
                        </div>
                    </div>
                    <h3 class="catalog-item-title">Diver 300M Co-Axial Master Chronometer</h3>
                    <p class="catalog-item-text">€1400</p>
                </a>
            </li>
            <li class="catalog-item">
                <a class="catalog-link link" href="">
                    <div class="catalog-cover-wrap">
                        <div class="img-watch">
                        <img
                        src="../img/catalog/watch-taman.jpg"
                        srcset="../img/catalog/watch-taman.jpg 1x,../img/catalog/watch-taman-2x.jpg 2x"
                        alt="Taman Watch By Police For Men">
                        </div>
                        <div class="catalog-wrap">
                            <p class="wrap-tile">Description</p>
                            <p class="wrap-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                            <p class="wrap-tile">DETAILS & FEATUREStion</p>
                            <p class="wrap-text-two">
                                Gender: man <br>
                                Size: 46x54.5mm <br>
                                Case Colour: Steel <br>
                                Band Material: Metal
                                Case Material: Metal
                                Features: Multifunction
                                Water Resistant: 5 (ATM)
                                Band Colour: Steel</p>
                        </div>
                    </div>
                    <h3 class="catalog-item-title">Taman Watch By Police For Men</h3>
                    <p class="catalog-item-text">€500</p>
                </a>
            </li>
            <li class="catalog-item">
                <a class="catalog-link link" href="">
                    <div class="catalog-cover-wrap">
                        <div class="img-watch">
                        <img 
                        src="../img/catalog/watch-malawi.jpg"
                        srcset="../img/catalog/watch-malawi.jpg 1x,../img/catalog/watch-malawi-2x.jpg 2x"
                        alt="Malawi Watch Police For Men">
                        </div>
                        <div class="catalog-wrap">
                            <p class="wrap-tile">Description</p>
                            <p class="wrap-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                            <p class="wrap-tile">DETAILS & FEATUREStion</p>
                            <p class="wrap-text-two">
                                Gender: man <br>
                                Size: 46x54.5mm <br>
                                Case Colour: Steel <br>
                                Band Material: Metal
                                Case Material: Metal
                                Features: Multifunction
                                Water Resistant: 5 (ATM)
                                Band Colour: Steel</p>
                        </div>
                    </div>
                    <h3 class="catalog-item-title">Malawi Watch Police For Men</h3>
                    <p class="catalog-item-text">€555</p>
                </a>
            </li>
            <li class="catalog-item">
                <a class="catalog-link link" href="">
                    <div class="catalog-cover-wrap">
                        <div class="img-watch">
                        <img 
                        src="../img/catalog/watch-diver3.jpg"
                        srcset="../img/catalog/watch-diver3.jpg 1x,../img/catalog/watch-diver3-2x.jpg 2x"
                        alt="Diver 300M Co-Axial Master Chronometer">
                        </div>
                        <div class="catalog-wrap">
                            <p class="wrap-tile">Description</p>
                            <p class="wrap-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                            <p class="wrap-tile">DETAILS & FEATUREStion</p>
                            <p class="wrap-text-two">
                                Gender: man <br>
                                Size: 46x54.5mm <br>
                                Case Colour: Steel <br>
                                Band Material: Metal
                                Case Material: Metal
                                Features: Multifunction
                                Water Resistant: 5 (ATM)
                                Band Colour: Steel</p>
                        </div>
                    </div>
                    <h3 class="catalog-item-title">Diver 300M Co-Axial Master...</h3>
                    <p class="catalog-item-text">€1200</p>
                </a>
            </li>
            <li class="catalog-item">
                <a class="catalog-link link" href="">
                    <div class="catalog-cover-wrap">
                        <div class="img-watch">
                        <img 
                        src="../img/catalog/watch-greenlane.jpg"
                        srcset="../img/catalog/watch-greenlane.jpg 1x,../img/catalog/watch-greenlane-2x.jpg 2x"
                        alt="Greenlane Watch By Police For Men">
                        </div>
                        <div class="catalog-wrap">
                            <p class="wrap-tile">Description</p>
                            <p class="wrap-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                            <p class="wrap-tile">DETAILS & FEATUREStion</p>
                            <p class="wrap-text-two">
                                Gender: man <br>
                                Size: 46x54.5mm <br>
                                Case Colour: Steel <br>
                                Band Material: Metal
                                Case Material: Metal
                                Features: Multifunction
                                Water Resistant: 5 (ATM)
                                Band Colour: Steel</p>
                        </div>
                    </div>
                    <h3 class="catalog-item-title">Greenlane Watch By Police For Men</h3>
                    <p class="catalog-item-text">€1000</p>
                </a>
            </li>
            <li class="catalog-item watch">
                <a class="catalog-link link" href="">
                    <div class="catalog-cover-wrap">
                        <div class="img-watch">
                        <img 
                        src="../img/catalog/watch-squardrc.jpg"
                        srcset="../img/catalog/watch-squardrc.jpg 1x,../img/catalog/watch-squardrc-2x.jpg 2x"
                        alt="Squardrc 5402 Chrono">
                        </div>
                        <div class="catalog-wrap">
                            <p class="wrap-tile">Description</p>
                            <p class="wrap-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                            <p class="wrap-tile">DETAILS & FEATUREStion</p>
                            <p class="wrap-text-two">
                                Gender: man <br>
                                Size: 46x54.5mm <br>
                                Case Colour: Steel <br>
                                Band Material: Metal
                                Case Material: Metal
                                Features: Multifunction
                                Water Resistant: 5 (ATM)
                                Band Colour: Steel</p>
                        </div>
                    </div>
                    <h3 class="catalog-item-title">Squardrc 5402 Chrono</h3>
                    <p class="catalog-item-text">€359</p>
                </a>
            </li>
            <li class="catalog-item watch">
                <a class="catalog-link link" href="">
                    <div class="catalog-cover-wrap">
                        <div class="img-watch">
                        <img 
                        src="../img/catalog/watch-diver4.jpg"
                        srcset="../img/catalog/watch-diver4.jpg 1x,../img/catalog/watch-diver4-2x.jpg 2x"
                        alt="Diver  300M Co‑Axial Master Chronometer Chronograph">
                        </div>
                        <div class="catalog-wrap">
                            <p class="wrap-tile">Description</p>
                            <p class="wrap-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                            <p class="wrap-tile">DETAILS & FEATUREStion</p>
                            <p class="wrap-text-two">
                                Gender: man <br>
                                Size: 46x54.5mm <br>
                                Case Colour: Steel <br>
                                Band Material: Metal
                                Case Material: Metal
                                Features: Multifunction
                                Water Resistant: 5 (ATM)
                                Band Colour: Steel</p>
                        </div>
                    </div>
                    <h3 class="catalog-item-title">Diver  300M Co‑Axial Master...</h3>
                    <p class="catalog-item-text">€400</p>
                </a>
            </li>
            <li class="catalog-item watch">
                <a class="catalog-link link" href="">
                    <div class="catalog-cover-wrap">
                        <div class="img-watch">
                        <img 
                        src="../img/catalog/watch-citizen.jpg"
                        srcset="../img/catalog/watch-citizen.jpg 1x,../img/catalog/watch-citizen-2x.jpg 2x"
                        alt="Citizen">
                        </div>
                        <div class="catalog-wrap">
                            <p class="wrap-tile">Description</p>
                            <p class="wrap-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                            <p class="wrap-tile">DETAILS & FEATUREStion</p>
                            <p class="wrap-text-two">
                                Gender: man <br>
                                Size: 46x54.5mm <br>
                                Case Colour: Steel <br>
                                Band Material: Metal
                                Case Material: Metal
                                Features: Multifunction
                                Water Resistant: 5 (ATM)
                                Band Colour: Steel</p>
                        </div>
                    </div>
                    <h3 class="catalog-item-title">Citizen</h3>
                    <p class="catalog-item-text">€519</p>
                </a>
            </li>
            <li class="catalog-item watch">
                <a class="catalog-link link" href="">
                    <div class="catalog-cover-wrap">
                        <div class="img-watch">
                        <img 
                        src="../img/catalog/watch-armani.jpg"
                        srcset="../img/catalog/watch-armani.jpg 1x,../img/catalog/watch-armani-2x.jpg 2x"
                        alt="Armani Exchange">
                        </div>
                        <div class="catalog-wrap">
                            <p class="wrap-tile">Description</p>
                            <p class="wrap-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                            <p class="wrap-tile">DETAILS & FEATUREStion</p>
                            <p class="wrap-text-two">
                                Gender: man <br>
                                Size: 46x54.5mm <br>
                                Case Colour: Steel <br>
                                Band Material: Metal
                                Case Material: Metal
                                Features: Multifunction
                                Water Resistant: 5 (ATM)
                                Band Colour: Steel</p>
                        </div>
                    </div>
                    <h3 class="catalog-item-title">Armani Exchange</h3>
                    <p class="catalog-item-text">€400</p>
                </a>
            </li>
        </ul>
        <button type="button" class="catalog-btn">BUY NOW</button>
    </div>
   </section>