<footer>
  <div class="footer container">
    <div>
      <div class="footer-container">
        <div>
          <!-- <svg class="footer-logo">
            <use href="./img/icons.svg#icon-PC-logo-cropped"></use>
          </svg> -->
          <img src="./img/logo.svg" alt="logo" class="footer-logo" />
          <address class="footer-address">
            <ul>
              <li class="footer-address-item">
                <a href="" class="footer-address-link">+380 (68) 443-94-26</a>
              </li>
              <li class="footer-address-item">
                <a href="" class="footer-address-link"
                  >1678 S. Pioneer Road Salt Lake City UT 84104</a
                >
              </li>
            </ul>
          </address>
        </div>
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a href="#aboutus" class="footer-nav-link">About us</a>
            </li>
            <li class="footer-nav-item">
              <a href="#catalog" class="footer-nav-link">Catalog</a>
            </li>
            <li class="footer-nav-item">
              <a href="#sale" class="footer-nav-link">Sale</a>
            </li>
          </ul>
        </nav>
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a href="" class="footer-soc-link">
              <svg class="footer-soc-icon">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a href="" class="footer-soc-link">
              <svg class="footer-soc-icon">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a href="" class="footer-soc-link">
              <svg class="footer-soc-icon">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copy">
      <p class="copy-text">&#169;2022 The Watch Spot. All rights reserved.</p>
      <div class="privacy">
        <p class="copy-text">Privacy Policy</p>
        <p class="copy-text">Terms of Service</p>
      </div>
    </div>
  </div>
</footer>
