<section class="sale-section">
  <h2 class="sale-title">Sale</h2>
  <div class="desctop-adaptive">
    <div class="sales-photoes-thumb">
      <ul class="sales-photoes-list">
        <li class="sales-list-item">
          <img
            src="../img/sale/Screenshot_8.png"
            alt="Greenlane Watch view1"
            class="sales-list-img"
          />
        </li>
        <li class="sales-list-item">
          <img
            src="../img/sale/Screenshot_9.png"
            alt="Greenlane Watch view2"
            class="sales-list-img"
          />
        </li>
        <li class="sales-list-item">
          <img
            src="../img/sale/Screenshot_10.png"
            alt="Greenlane Watch view3"
            class="sales-list-img"
          />
        </li>
        <li class="sales-list-item">
          <img
            src="../img/sale/Screenshot_11.png"
            alt="Greenlane Watch view4"
            class="sales-list-img"
          />
        </li>
      </ul>
      <img
        src="../img/sale/Screenshot_12.png"
        alt="Greenlane Watch main-view"
        class="sales-main-img"
      />
    </div>

    <div class="desctop-info">
      <div class="sales-watch-thumb">
        <p class="sales-watch-name">Greenlane Watch By Police For MenHT</p>
        <p class="sales-watch-pruduct">Product tag: PEWJK2227003</p>
        <p class="sales-watch-price">
          €700 <span class="sale-old-price">€1000</span>
        </p>
      </div>
      <div class="sale-thumb">
        <p class="sale-thumb-name">Description</p>
        <p class="sale-thumb-text">
          Richly detailed with an understated design - the Police MenвЂ™s
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
      </div>
      <div class="sale-thumb">
        <p class="sale-thumb-name">DETAILS & FEATUREStion</p>
        <p class="sale-thumb-text">Gender: man</p>
        <p class="sale-thumb-text">Size: 46x54.5mm</p>
        <p class="sale-thumb-text">Case Colour: Steel</p>
        <p class="sale-thumb-text">Band Material: Metal</p>
        <p class="sale-thumb-text">Case Material: Metal</p>
        <p class="sale-thumb-text">Features: Multifunction</p>
        <p class="sale-thumb-text">Water Resistant: 5 (ATM)</p>
        <p class="sale-thumb-text">Band Colour: Steel</p>
      </div>
    </div>
  </div>
</section>
