<section class="sale-section" id="sale">
  <div class="sale-container container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-adaptive">
      <div class="sales-photos-thumb">
        <ul class="sales-photos-list">
          <li class="sales-list-item">
            <picture>
              <source
                srcset="./img/sale/small-1.jpg 1x, ./img/sale/small-1@2x.jpg 2x"
                media="(max-width: 767px)" />
              <source
                srcset="
                  ./img/sale/small-1-tab.jpg    1x,
                  ./img/sale/small-1-tab@2x.jpg 2x
                "
                media="(min-width: 768px)" />
              <img
                src="./img/sale/small-1-tab.jpg"
                alt="Sale watch small first viev"
                class="sales-list-img"
            /></picture>
          </li>
          <li class="sales-list-item">
            <picture>
              <source
                srcset="./img/sale/small-2.jpg 1x, ./img/sale/small-2@2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/sale/small-2-tab.jpg    1x,
                  ./img/sale/small-2-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/sale/small-2-tab.jpg"
                alt="Sale watch small first viev"
                class="sales-list-img"
              />
            </picture>
          </li>
          <li class="sales-list-item">
            <picture>
              <source
                srcset="./img/sale/small-3.jpg 1x, ./img/sale/small-3@2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/sale/small-3-tab.jpg    1x,
                  ./img/sale/small-3-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/sale/small-3-tab.jpg"
                alt="Sale watch small first viev"
                class="sales-list-img"
              />
            </picture>
          </li>
          <li class="sales-list-item">
            <picture>
              <source
                srcset="./img/sale/small-4.jpg 1x, ./img/sale/small-4@2x.jpg 2x"
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./img/sale/small-4-tab.jpg    1x,
                  ./img/sale/small-4-tab@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <img
                src="./img/sale/small-4-tab.jpg"
                alt="Sale watch small first viev"
                class="sales-list-img"
              />
            </picture>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/sale/main.jpg 1x, ./img/sale/main@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./img/sale/main-tab1.jpg 1x, ./img/sale/main-tab@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <img
            src="./img/sale/main-tab1.jpg"
            alt="Greenlane Watch main-view"
            class="sales-main-img"
          />
        </picture>
      </div>
      <div class="desctop-info">
        <div class="sales-watch-thumb">
          <p class="sales-watch-name">Greenlane Watch By Police For MenHT</p>
          <p class="sales-watch-pruduct">Product tag: PEWJK2227003</p>
          <p class="sales-watch-price">
            €700 <span class="sale-old-price">€1000</span>
          </p>
        </div>
        <div class="sale-thumb">
          <p class="sale-thumb-name">Description</p>
          <p class="sale-thumb-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="sale-thumb">
          <p class="sale-thumb-name">DETAILS & FEATUREStion</p>
          <p class="sale-thumb-text">Gender: man</p>
          <p class="sale-thumb-text">Size: 46x54.5mm</p>
          <p class="sale-thumb-text">Case Colour: Steel</p>
          <p class="sale-thumb-text">Band Material: Metal</p>
          <p class="sale-thumb-text">Case Material: Metal</p>
          <p class="sale-thumb-text">Features: Multifunction</p>
          <p class="sale-thumb-text">Water Resistant: 5 (ATM)</p>
          <p class="sale-thumb-text">Band Colour: Steel</p>
        </div>
      </div>
    </div>
  </div>
</section>
