.container {
  max-width: 320px;
  margin: auto;
}

.section {
  width: 100%;
}

.test-clas2 {
  padding: 80px 20px;
}

.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #1e2827;
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 0px;
}

.catalog-item {
  display: block;
  width: 336px;
}

.img-watch {
  padding: 43px 30px;
}

.catalog-cover-wrap {
  position: relative;
  overflow: hidden;
}

.catalog-wrap {
  position: absolute;
  top: 5px;
  background: #1e2827;
  border-radius: 8px;
  padding: 15px 10px 10px 10px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrap-tile {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.wrap-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.wrap-text-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgba(255, 255, 255, 0.5);
  width: 162px;
  text-align: start;
}

.catalog-item :is(:hover, :focus) .catalog-wrap {
  transform: translate(0);
}

.catalog-item-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #141414;
  margin-top: 14px;
}

.catalog-item-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
  margin-top: 4px;
}

.watch {
  display: none;
}

.catalog-btn {
  width: 108px;
  height: 42px;
  background-color: #1e2827;
  color: white;
  border-radius: 8px;
  border: 1px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-btn:is(:hover, :focus) {
  border: 1px solid white;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    width: 375px;
  }

  .catalog-wrap {
    padding: 40px 60px 40px 40px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 768px;
  }

  .test-clas2 {
    padding: 128px 32px;
  }

  .catalog-title {
    font-size: 40px;
    line-height: 44px;
  }

  .catalog-list {
    gap: 40px 32px;
  }

  .catalog-wrap {
    top: 6px;
  }

  .catalog-btn {
    width: 122px;
    height: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    width: 1280px;
  }

  .test-clas2 {
    background-color: #fbfbfb;
    padding: 80px 52px;
  }

  .catalog-title {
    margin-bottom: 64px;
  }

  .catalog-list {
    gap: 64px 24px;
  }

  .catalog-item {
    width: auto;
  }

  .watch {
    display: block;
  }

  .img-watch {
    padding: 26px 0px 25px;
  }

  .catalog-wrap {
    padding: 20px;
    top: 11px;
  }

  .catalog-btn {
    margin-top: 80px;
  }
}
